<!-- 內容 contact-content-banner -->  
<section class="contact-content-banner">
  <div class="content-background">
    <div class="content-banner">
      <img src="/image/content-banner-1.jpg" alt="">
      <span>聯絡我們</span>
    </div>
  </div> 
</section>

<!-- 內容 contact-content -->  
<section class="contact-content">
  <div class="container">
    <h4>聯絡我們</h4>
    
    <ul class="contact-navigation">
      <li><a href="">聯絡我們</a></li>
    </ul> 
  </div>
</section>

<!-- 內容 contact -->  
<section class="contact">
  <div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading panel-title">國立中興大學化學工程學系(所) –<strong> 陳志銘教授實驗室位置與聯絡資訊 / Location and Contacts</strong></div>
      <div class="panel-body">
        <h4>實驗室位置：
          <br>
          <span>
            <h5>402台中市南區興大路145號-化工暨材料大樓5樓暨505室</h5>
          </span>
          <span>
            <h5>
              <a href="https://www.nchu.edu.tw/about-route-map/mid/83">興大校園位置與交通資訊</a>
            </h5>
          </span> 
          <img src="/image/nchu-location.jpg" alt="" style="width: 80%; height: 60%;">
        </h4>

        <h4>教授辦公室位置：
          <br>
          <span>
            <h5>402台中市南區興大路145號-化工暨材料大樓5樓暨514室</h5>
          </span>
        </h4>
        <h4>聯絡資訊：
          <br>

        </h4>
      </div>
    </div>
  </div>
</section>  