<!-- 內容 introduction-content-banner -->  
<section class="introduction-content-banner">
  <div class="content-background">
    <div class="content-banner">
      <!--img src="/image/content-banner-1.jpg" alt=""-->
      <%= image_tag ("image/content-banner-1.jpg"), alt: 'avatar' %> 
    </div>
  </div> 
</section>


<!-- 內容 introduction-->
<section class="introduction">
  <div class="container">
    <h4>實驗室介紹</h4>
    
    <ul class="introduction-navigation">
      <li><a href="">實驗室簡介</a></li>
      <li><a href="">儀器設備</a></li>        
    </ul> 
  </div>
</section>