<!-- 內容 team-content-banner -->  
<section class="team-content-banner">
  <div class="content-background">
    <div class="content-banner">
      <img src="/image/content-banner-1.jpg" alt="">
      <!--<span>放入文字</span>-->
    </div>
  </div> 
</section>

<!-- 標籤 team -->  
<section class="team">
  <div class="container">
    <h4>成員</h4>
    
    <ul class="team-navigation">
      <li><%= link_to"教授",teamleader_laboratories_path %></li>
      <li><%= link_to"研究所",teammember_laboratories_path %></li>
      <li><%= link_to"大學部",teammember_laboratories_path %></li>
      <li><%= link_to"歷屆成員",teammember_laboratories_path %></li>      
    </ul> 
  </div>
</section>

<!-- 內容 member 成員-教授 -->  
<section class="member-leader">
  <div class="container">
    <div class="col-md-12">
      <div class="col-xs-12 col-sm-6 col-md-5">
        <div class="panel panel-primary">
          <div class="panel-heading panel-title">
            <span>指導教授：<strong>陳志銘( Chih-Ming Chen)</strong></span>
          </div>

          <div class="panel-body">
            <img src="/image/member/professor/professor.jpg" alt="">
          </div>
        </div>
      </div>

    
      <div class="col-xs-12 col-sm-6 col-md-7">
        <table class="table table-striped table-bordered table-hover ">
          <thead>
            <tr>
              <th>職稱</th>
              <th>中興大學化工系特聘教授兼生發中心主任</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>聯絡電話</td>
              <td>(04)22859458</td>
            </tr>
            <tr>
              <td>E-mail</td>
              <td>chencm@dragon.nchu.edu.tw</td>
            </tr>
            <tr>
              <td>辦公室</td>
              <td>化工暨材料大樓511室</td>
            </tr>
            <tr>
              <td>最高學歷</td>
              <td>國立清華大學化學工程學系 博士</td>
            </tr>
            <tr>
              <td>
                專長及研究領域
              </td>
              <td>
                <strong>
                  太陽能電池、微電子材料、IC封裝、LED固晶
                </strong>
              </td>
            </tr>
            <tr>
              <td style="vertical-align: middle;">簡要經歷</td>
              <td>
                國立清華大學化學工程學系 學士 (1997) <br>  
                國立清華大學化學工程學系 博士 (2002) <br>
                國立中興大學化學工程學系 助理教授 (2004-2007) <br>
                國立中興大學化學工程學系 副教授 (2007-2011) <br>
                國立中興大學化學工程學系 教授(2011-) <br>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      
      <div class="clearfix"></div>

      <!--研究與教學獎項-->
      <div class="panel panel-primary">
        <div class="panel-heading panel-title">
          <span>研究與教學獎項</span>
        </div>

        <div class="panel-body">
          
        </div>
      </div>
        
      <!--學術榮譽-->
      <div class="panel panel-primary">
        <div class="panel-heading panel-title">
          <span>學術榮譽</span>
        </div>

        <div class="panel-body">
          
        </div>
      </div>
        
      <!--教授科目-->
      <h4>教授科目</h4>
      <table class="table table-item table-bordered table-striped">
        <thead>
          <tr>
            <th>必選別</th>
            <th>科目名稱</th>
            <th>上課時數</th>
            <th>修課年級</th> 
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>選修</td>
            <td>材料科學導論 ( Introduction to Materials Science )
            </td>
            <td>3</td>
            <td>大二</td>
          </tr>

          <tr>
            <td>選修</td>
            <td>電子特用化學與製程技術 ( Electronic Specialty Chemistry and Process Technology )
            </td>
            <td>3</td>
            <td>碩班</td>
          </tr>

          <tr>
            <td>選修</td>
            <td>進階電子構裝理論與實務 ( Advanced Electronic Packaging - Theory & Practice )            
            </td>
            <td>3</td>
            <td>碩班</td>
          </tr>

          <tr>
            <td>選修</td>
            <td>材料相平衡 ( Phase Equilibria of Materials )
            </td>
            <td>3</td>
            <td>碩班</td>
          </tr>
        </tbody>
      </table>

      <!--代表著作-->
      <div class="panel panel-primary">
        <div class="panel-heading panel-title">
          <span>代表著作</span>
        </div>

        <div class="panel-body">
          
        </div>
      </div>
    
    </div>
  </div>
</section>